--index-url https://staging.packagemanager.rstudio.com/pypi/latest/simple
click==8.0.1
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
SQLAlchemy==1.4.25
Werkzeug==2.0.2
