<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->
<head>

<title>Attention Required! | Cloudflare</title>

<meta name="captcha-bypass" id="captcha-bypass" />
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" id="cf_styles-css" href="/cdn-cgi/styles/cf.errors.css" type="text/css" media="screen,projection" />
<!--[if lt IE 9]><link rel="stylesheet" id='cf_styles-ie-css' href="/cdn-cgi/styles/cf.errors.ie.css" type="text/css" media="screen,projection" /><![endif]-->
<style type="text/css">body{margin:0;padding:0}</style>


<!--[if gte IE 10]><!-->
<script>
  if (!navigator.cookieEnabled) {
    window.addEventListener('DOMContentLoaded', function () {
      var cookieEl = document.getElementById('cookie-alert');
      cookieEl.style.display = 'block';
    })
  }
</script>
<!--<![endif]-->


  
    <script type="text/javascript">
    //<![CDATA[
    (function(){
      window._cf_chl_opt={
        cvId: "2",
        cType: "interactive",
        cNounce: "4122",
        cRay: "69a2d62c3e3a5e3c",
        cHash: "a21de51bfc86e42",
        cFPWv: "g",
        cTTimeMs: "1000",
        cLt: "n",
        cRq: {
          ru: "aHR0cHM6Ly9jb2RlcGVuLmlvL2NocmlkZHlwL3Blbi9iV0x3Z1AuY3Nz",
          ra: "Y3VybC83LjY0LjE=",
          rm: "R0VU",
          d: "Eflb3ecu5YvnNsJmFSHUEoxRb598FD+HPAdmo46QrTcO5AB9ElRKumxJ2kRg3KoJCGwBu3jDKWFiMSIZ3bJqF9yg67R04eul+TWnQT7z0RI5BWURHZpRgXk0XdBAqjQIQheCf26z3VIpE3QyclQ8Neyn9CJqv6GD7l+F+g2C4c1Anbcx5q1gKDJbitkPR7SLqiPCjG7QNSvxTYLmxVNagwU28uq0/O4iQaaw/2Dw8oE633bMmMeD0rsN/tPkkwrQRz4pxJpWFK7nLpLQBF7cxRcjm4SLLTkZBbHGnPpg4MokjPmK9SN749K4ioOiRR6J/QqJ0b9Ol7r6e/uwn+wg4x6ldiRg+mnJdACDYuOypfYXudlW2O2HqWeKU7R4G6P7Vz2u8CooT6lpp2sXyvFHo7nJriD/f6k5kJmFfJqXBNt3r26o3oCfGM9UxekzD41aHerSOa/dLzV9A0CSGmsRDUI2z1w42Yu8FvhvLxQ/+3E2mJVSWUbB227I6Lk5PYnO47xlBXZsKZSR0Ew/pDQi3sOZggRGVE3Em3APYfHPAW9/Uc5UsWbUPfy2xjqQwxsnSZdWWL6NgCdl9FSPsnLbKf0j0aep2iNVDQFlRW6MDV4ubwkmazDaK9N0KhCzkYPHST/2UmNPBje6P8v/vz8oxwWw5qLqxYxvl9Nnd77gjzGVky+EgecowHdMn1/CvDlXaXqLBUz21qsBPuVi3PaDdYnsTdldl8ur0ZEWhcn5hxo=",
          t: "MTYzMzU2NDY5NC40NTUwMDA=",
          m: "CeE5I2b5GGXZHkZkJ3ba4qwCEy2Re8Oersoxjb4rmBY=",
          i1: "tPzAomiHbWrLkJc3up/uZQ==",
          i2: "kGSYZaWkrWS/bhRuL3PU2A==",
          zh: "veSOPFJX5Ero4YoZ6DYiVqXxq6FxkxT2E8Jzx8vQKoU=",
          uh: "szTQexRnAk6IzW67QzqGQgGxkzC/vAX/8LMiqwBnOyk=",
          hh: "0mPf/4V3RyKa+UghzDhGn3YZ3ZhfBgU14V1lB2gHVl4=",
        }
      };
    }());
    //]]>
    </script>
  

<style type="text/css">
  #cf-wrapper #spinner {width:69px; margin:  auto;}
  #cf-wrapper #cf-please-wait{text-align:center}
  .attribution {margin-top: 32px;}
  .bubbles { background-color: #f58220; width:20px; height: 20px; margin:2px; border-radius:100%; display:inline-block; }
  #cf-wrapper #challenge-form { padding-top:25px; padding-bottom:25px; }
  #cf-hcaptcha-container { text-align:center;}
  #cf-hcaptcha-container iframe { display: inline-block;}
  @keyframes fader     { 0% {opacity: 0.2;} 50% {opacity: 1.0;} 100% {opacity: 0.2;} }
  #cf-wrapper #cf-bubbles { width:69px; }
  @-webkit-keyframes fader { 0% {opacity: 0.2;} 50% {opacity: 1.0;} 100% {opacity: 0.2;} }
  #cf-bubbles > .bubbles { animation: fader 1.6s infinite;}
  #cf-bubbles > .bubbles:nth-child(2) { animation-delay: .2s;}
  #cf-bubbles > .bubbles:nth-child(3) { animation-delay: .4s;}
</style>
</head>
<body>
  <div id="cf-wrapper">
    <div class="cf-alert cf-alert-error cf-cookie-error" id="cookie-alert" data-translate="enable_cookies">Please enable cookies.</div>
    <div id="cf-error-details" class="cf-error-details-wrapper">
      <div class="cf-wrapper cf-header cf-error-overview">
      
        <h1 data-translate="challenge_headline">One more step</h1>
        <h2 class="cf-subheadline"><span data-translate="complete_sec_check">Please complete the security check to access</span> codepen.io</h2>
      
      </div>
      
      <div class="cf-section cf-highlight cf-captcha-container">
        <div class="cf-wrapper">
          <div class="cf-columns two">
            <div class="cf-column">
            
              <div class="cf-highlight-inverse cf-form-stacked">
                <form class="challenge-form interactive-form" id="challenge-form" action="/chriddyp/pen/bWLwgP.css?__cf_chl_captcha_tk__=pmd_Htwg49iY43dk2a2FfxtwosbKpWzKXNwDMz9vgPNw1J0-1633564694-0-gqNtZGzNAyWjcnBszQU9" method="POST" enctype="application/x-www-form-urlencoded">
  
    <div id='cf-please-wait'>
      <div id='spinner'>
        <div id="cf-bubbles">
            <div class="bubbles"></div>
            <div class="bubbles"></div>
            <div class="bubbles"></div>
        </div>
      </div>
      <p data-translate="please_wait" id="cf-spinner-please-wait">Please stand by, while we are checking your browser...</p>
      <p data-translate="redirecting" id="cf-spinner-redirecting" style="display:none">Redirecting...</p>
      </div>
  
  <input type="hidden" name="md" value="934BojMzbqBa_uiSFTMqdSQu1.NdqT75DAmQWDh3VfQ-1633564694-0-Ad1R9Y1Vka2yudSzQpFoznjzfySQfo439xdvdPAUzwmyOhcMUG40cVWxi1FOay72aGDe-rXs1MQNBqEPbptH2-NTb4pwVxXECZNt8hO4trLtVtj9pxIhn0joHe2SSJnl7IFCW9KiF5Dr0JNMtw8m8n4Q8ZpkbXGcS33o4KsFc57coUn2lN_XBKa51UcP1SDtpkimDOyAD_tIu5Qj91t-v9orMDASAghFyWh3hklfVDddiZseqNly7FjJw-YIgugPYXymDe-Vk-yt54xvqxBkelbz6_rYxJ6SJC7vj15rE9V0p5nHuIqjf04toB_MkSeACrzhLBGD_XaaCJGx8_XqdJw4lbemhM6nwiU_eaMADnTwLZ94GKbDuNvYnh5b5S7WSjVUYSdwewWkAtAk8gfe5ntWGgEwOfDtjCmsIn4wZISD7RgU0hAT_dNaC3Tw65M-DJjTVGmxHuYyF33sea5K5igoFs0yz382Q626WZCSS2HKoUGM4_6FOKX16K6vrFOYG25DWRkEzx2NJTQSTLrVf0W5jT5sQN1l0lYQgwRM9n2kVb3dPL5ed9xOY7TIY4zaoROASKYvSTkhi0sd4hm0lKoksWGRSuxvB9IuUTqJa8jqFGwK0ZR1UczdaR15SS6vMaaixSs1DdMy7kMejdOdJQ__8w5Ip6gJ6i633MKB7S-RrhOp8C3TVVS2ZPwNdax9CAz4iRxObgK_NI3d7YhsIxeWN36zcOqET5vF7QTYg8dy" />
  <input type="hidden" name="r" value="MzQC4bLqy.vPE5bbh2TXTtR42cz7dFX9sPKrsHJEgl0-1633564694-0-AdG5c78ZgBYl1cMGjUZEJveOsslAhwhvNYxSX3Awu2uVyUEtpyr0QifF9pl96664cfFtG+HzsNa59dVW9WtjJFNDPwYg24aWqKvvG6gv68WUfkJe4BWddyIy47CITNQ6D5Vi0I6WKT+k6elw0DbzwODCG7vXd2hwn5/wCVi5zbrHCuLwuBCHYH2fXlwEgla9GY1mfdNmk1AGDrtGTNswVzL5vWdc1AIUB89G6o1RMy3HbI1BnU9eVFcBuVXm99gIn2L9KE297YCslX6N9pxRHdzRoLGNGfI9roD9vXBD0TSmdszs9e2ADn4hQf1wuErX72jv3klC68au/tS1X3jswtN/ypZ06BQsPuOqIXqyv16jAo1DvWEl9wd/iQ4IVDg0RuuiuCZX+ghE+NN5reExRDpbCB6TdH5mgBPnFIlcHEmZtGnVb94DJSewVdqe826/jk+wJWRHBzgS/pqXdBgG6ZGTrJZbnrVkAIf80LWzOkfP1IJu+VhSe9UW56cJHYRVhtlEIc35wXwCtV9bzRZGxWn0h5c47FH0R2eGBCtOuKxBNum9U78412mIJFhHAK/Ujr3jIMyAI3keRgWN3tS8Ch6FjoVypN5SvHH1mxpGF8dn7PV82phqxUAPtNmXfuw0VFcgE5Nvw0mlnDaSx0EYXgTKTOwxCk1IKInJFALmc+M6qWsRl4i76rAnBWZTJtJFBDVG2KJMenemj5nkvmQ5pCF/W7qQJefkt0UF9Q5lUwMQKRpkwD6ek/X8yPNXWdLcS3DT+qr/8IRC3oAN1HvEYuRv7hGxmzxEaHKIHrX4UszzrjWvFWjGoncM3Au96m7u8kx05cldy1232CnehT8MtBYIi2XZG5RIhyaetj1gdIRiIpH2m+yGu05rMcmJSTBFF3AWnlmaMO8N98MSIb5JYVUGXGhbK441LD9VEI7IPQDQ7+x7+RBIvaYihb/qeboKhRvntouJpxzRfk8fsLDEBBQXz8LrHdQSFaDPEZYUcwDaxZCegjJ+/Tj/emtfYRve9PfxZJLhzGTVwMD5HDr8jBokybGW5BLmssvMk7caW2G7ZXY6OVl/6mtR2DRmf2q+HJTdddWNWJLkncjfCROAcbEF+Qr9Fj1PQfRaxvQijKSCpLa3bvslUfdPNFEpNcr4M1csOhODVd3b1Ugxms2H120BRdcD1Df+8j5cyYelwq3wy/y0lO2Q+D4iOODEo1RA6sBgX0CMw4JddO0M9IS8n0I05RdyDgfgdSiUXD9a4MnR3pdeRW/yhzIJf1xy6HQZuQ==">
  <input type="hidden" name="cf_captcha_kind" value="h">
  <input type="hidden" name="vc" value="72d3c7eda4987b5fb238a138643d264d">
  
  <noscript id="cf-captcha-bookmark" class="cf-captcha-info">
  <h1 data-translate="turn_on_js" style="color:#bd2426;">Please turn JavaScript on and reload the page.</h1>
  </noscript>
    <div id="no-cookie-warning" class="cookie-warning" data-translate="turn_on_cookies" style="display:none">
      <p data-translate="turn_on_cookies" style="color:#bd2426;">Please enable Cookies and reload the page.</p>
    </div>
  <script type="text/javascript">
  //<![CDATA[
    var a = function() {try{return !!window.addEventListener} catch(e) {return !1} },
      b = function(b, c) {a() ? document.addEventListener("DOMContentLoaded", b, c) : document.attachEvent("onreadystatechange", b)};
      b(function(){
        var cookiesEnabled=(navigator.cookieEnabled)? true : false;
        if(!cookiesEnabled){
          var q = document.getElementById('no-cookie-warning');q.style.display = 'block';
        }
      });
  //]]>
  </script>
  <div id="trk_captcha_js" style="background-image:url('/cdn-cgi/images/trace/captcha/nojs/h/transparent.gif?ray=69a2d62c3e3a5e3c')"></div>
</form>
  
  <script type="text/javascript">
    //<![CDATA[
    (function(){
        var isIE = /(MSIE|Trident\/|Edge\/)/i.test(window.navigator.userAgent);
        var trkjs = isIE ? new Image() : document.createElement('img');
        trkjs.setAttribute("src", "/cdn-cgi/images/trace/captcha/js/transparent.gif?ray=69a2d62c3e3a5e3c");
        trkjs.id = "trk_captcha_js";
        trkjs.setAttribute("alt", "");
        document.body.appendChild(trkjs);
        var cpo=document.createElement('script');
        cpo.type='text/javascript';
        cpo.src="/cdn-cgi/challenge-platform/h/g/orchestrate/captcha/v1?ray=69a2d62c3e3a5e3c";
        document.getElementsByTagName('head')[0].appendChild(cpo);
    }());
    //]]>
    </script>
  


              </div>
            </div>

            <div class="cf-column">
              <div class="cf-screenshot-container">
              
                <span class="cf-no-screenshot"></span>
              
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cf-section cf-wrapper">
        <div class="cf-columns two">
          <div class="cf-column">
            <h2 data-translate="why_captcha_headline">Why do I have to complete a CAPTCHA?</h2>
            
            <p data-translate="why_captcha_detail">Completing the CAPTCHA proves you are a human and gives you temporary access to the web property.</p>
          </div>

          <div class="cf-column">
            <h2 data-translate="resolve_captcha_headline">What can I do to prevent this in the future?</h2>
            

            <p data-translate="resolve_captcha_antivirus">If you are on a personal connection, like at home, you can run an anti-virus scan on your device to make sure it is not infected with malware.</p>

            <p data-translate="resolve_captcha_network">If you are at an office or shared network, you can ask the network administrator to run a scan across the network looking for misconfigured or infected devices.</p>
            
              
            
          </div>
        </div>
      </div>
      

      <div class="cf-error-footer cf-wrapper w-240 lg:w-full py-10 sm:py-4 sm:px-8 mx-auto text-center sm:text-left border-solid border-0 border-t border-gray-300">
  <p class="text-13">
    <span class="cf-footer-item sm:block sm:mb-1">Cloudflare Ray ID: <strong class="font-semibold">69a2d62c3e3a5e3c</strong></span>
    <span class="cf-footer-separator sm:hidden">&bull;</span>
    <span class="cf-footer-item sm:block sm:mb-1"><span>Your IP</span>: 70.108.23.186</span>
    <span class="cf-footer-separator sm:hidden">&bull;</span>
    <span class="cf-footer-item sm:block sm:mb-1"><span>Performance &amp; security by</span> <a rel="noopener noreferrer" href="https://www.cloudflare.com/5xx-error-landing" id="brand_link" target="_blank">Cloudflare</a></span>
    
  </p>
</div><!-- /.error-footer -->


    </div>
  </div>

  <script type="text/javascript">
  window._cf_translation = {};
  
  
</script>


</body>
</html>
