--index-url https://p3m.dev/pypi/2023-12-05/simple
anywidget
shiny
shinywidgets
vega
altair
pandas
six
jupyter-server>=2.14.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
