.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
  font-weight: 300;
  color: #333333;
}

.ba {
  border-style: solid;
  border-width: 1px;
}

.br2 {
  border-radius: 0.25rem;
}

.b--black-30 {
  border-color: rgba(0, 0, 0, 0.3);
}

.w-60 {
  width: 60%;
}

.w-100 {
  width: 100%;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.tc {
  text-align: center;
}

.pa {
  padding: 1rem;
}

.mt5 {
  margin-top: 4rem;
}
